@font-face{
	src: url("fonts/Roboto-Regular.ttf");
	font-family: roboto;
}

@font-face{
	src: url("fonts/hemi head bd it.ttf");
	font-family: hemi;
}

@font-face{
	src: url('fonts/OpenSans-Regular.ttf');
	font-family: OpenSans;
}

body{
	margin: 0;
	font-family: roboto;
	background-color: #f2f2f2;
}
/***************************************NAVBAR****************************************/
#navBarGlobal{
	display: flex;
	justify-content: space-between;
	background-color: black;
	position: fixed;
	transition: 0.3s;
	width: 100%;
	align-items: center;
}

.navBar{
	display: flex;
	align-items: center;
}

.navBar img{
	margin-left: 20px;
	margin-right: 20px;
	cursor: pointer;
}

.navBarLiens{
	padding: 25px;
	color: white;
	text-decoration: none;
}

.navBarLiens:hover{
	color: black;
	background-color: white;
}

#profil{
	color: white;
	font-size: 20px;
	display: flex;
	align-items: center;
	margin-right: 30px;
}

#profil span{
	border-left: 2px solid;
	padding-left: 15px;
	cursor: pointer;
}

#profil span:hover{
	text-decoration: underline;
}

/************************************SIDEBAR******************************************/

#sideBar{
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 0;
	height: 100%;
	left: 0;
	background-color: black;
	padding-top: 50px;
	transition: 0.5s;
	overflow-y: hidden;
}

#sideBar a{
	color: white;
	text-decoration: none;
	padding: 20px;
}

#sideBar a:hover{
	color: black;
	background-color: white;
}

#close{
	width: 32px;
	height: 32px;
	position: absolute;
	right: 10px;
	top: 20px;
	cursor: pointer;
}

#content{
	transition: 0.5s;
}


/****************************************CONTENT*********************************************/

.paragraph{
	text-align: center;
	padding: 10px;
}

#para1{
	padding-top: 100px;
}

#para1 h1{
	font-family: hemi;
	width: 300px;
	box-shadow: 5px 5px 10px 7px;
	margin: auto;
	margin-bottom: 40px;
	border-radius: 3px;
}

#para2{
	background-color: #faf37a;
}

#para4{
	background-color: #7acbfa;
}

footer{
	background-color: #121212;
	text-align: center;
	padding: 15px;
}

footer p{
	color: white;
	
}

/***********************TOP Button****************************/

#top{
	position: fixed;
	padding: 20px;
	border-radius: 5px;
	background-color: #929292;
	opacity: 0.9;
	right: 20px;
	bottom: 30px;
	cursor: pointer;
	font-weight: bold;
}

#top:hover{
	background-color: #757575;
}

/*********************clickDropDown Menu***********************/

#dropDown{
	position: absolute;
	display: none;
	right: 50px;
	top: 90px;
	flex-direction: column;
	background-color: white;
	box-shadow: 4px 4px 25px 0px black;
	border-radius: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.dropDownLiens{
	color: #383838;
	text-decoration: none;
	font-family: OpenSans;
	padding: 10px;
}

.dropDownLiens:hover{
	background-color: #8a8a8a;
	color: white;
}

#caretUp{
	position: absolute;
	right: 10px;
	top: -15px;
	color: white;
}


/*********************hoverDropDown Menu***********************/

.column{
	display: flex;
	flex-direction: column;
}

.absolute{
	display: none;
	position: absolute;
	top: 69px;
	background-color: black;
}

.hover:hover .absolute{display: flex;}

/*********************MEDIA***********************/

@media (max-width: 788px){

	.navBarMedia{
		display: none;
	}

	.paragraph{
		font-size: 15px;
	}

	#para1 h1{
		width: 240px;
	}
}
